version: "3.9"

services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: moreapp_admin
      POSTGRES_PASSWORD: "socialmore!pang2mitaka#"
      POSTGRES_DB: moreapp_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
