services:
  postgres:
    ports:
      - "15432:5432"
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    image: more-app-backend:latest
    restart: unless-stopped
    env_file:
      - ./.env.production
    environment:
      # 强制使用容器内 postgres 主机名
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    volumes:
      - /data/more-app/uploads:/data/more-app/uploads

volumes:
  pgdata:
